$black-color: #5d5d5d;
$black-color-2: #000000;

$gray-color: #7f7c82;
$gray-color-2: #444941;
$gray-color-3: #eeeeee;
$gray-color-4: #b3b3b3;
$gray-color-5: #fbfbfb;
$gray-color-6: #eaeaea;
$gray-color-7: #bcbcbc;
$gray-card-color: #e5e5e5;

$red-primary: #d84949;
$red-color: #df2e2e;
$red-color-2: #b83e3e;
$red-color-3: #a03737;

$green-color: #61b15a;
$green-color-2: #adce74;

$white-color: #ffffff;
$blue-color: #489adc;
$light-gray: #f7f6f2;
$yellow-color: #e8d032;
$yellow-color-2: #e8cf31;
